@import url('https://fonts.googleapis.com/css?family=Cinzel');

body {
    background: url('https://images.unsplash.com/photo-1519567241046-7f570eee3ce6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=29425be9dfb52e3646e955ea3ec6c115&auto=format&fit=crop&w=2716&q=80');
    background-size: cover;
    color: white;
    font-family: 'Cinzel';
}

.container {
    background-color: rgba(0, 0, 0, .7);
    margin-top: 10%;
    padding: 2%;
    border-radius: 10%;
}

.navContainer {
    margin-left: 27%;
    margin-bottom: 5%;
}

.shoppingCart {
    font-size: 3em;
    letter-spacing: .2em;
    color: white;
    text-shadow: 2px 2px 10px;
}

.productTitle {
    text-align: center;
    font-size: 1.5em;
}

.price {
    font-size: 1.5em;
}

.quantity {
    font-size: 1.5em;
}

.product {
    font-size: 1.2em;
    text-shadow: 2px 2px 15px;
}

.col-md-2 {
    margin-left: 5%;
}

.total {
    text-align: right;
    width: 62%;
    text-shadow: 2px 2px 20px;
}

label {
    padding: 1%;
}

.submit {
    margin-left: 22%;
    background-color: rgb(31, 183, 231);
    color: white;
    border-radius: 15%;
    border: none;
}

.copyright {
    text-align: right;
}